@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body {
    font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/*----- HEADER -----*/
.header {
    height: 64px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    flex-shrink: 0;
}

ul {
    padding: 0;
    list-style: none;
    font-size: 18px;
}
a {
    text-decoration: none;
    color: white;
}

.links {
    display: flex;
    flex-shrink: 0;
    gap: 16px;
}
/*----- CONTENT -----*/

/*----- SECTION 1 -----*/
.sec1 {
    min-height: 540px;
    background-color: #1F2937;
    display: flex;
    flex: 1 0 auto;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 32px;
    color: whitesmoke;
}

.box1 {
    display: flex;
    max-width: 650px;
    max-height: 350px;
    gap: 8px;
    flex-wrap: wrap;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: flex-start;    
}
.box1 h3 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}
.sec1 p{
    margin: 0;
    font-size: 18px;
    font-weight: 00;
}

button {
    padding: 8px 16px;
    margin-top: auto;
    justify-content: flex-start;
    width: 100px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
    color: whitesmoke;
    background-color: #3882F6;
}

.box2 {
    display: flex;
}
.box2 img {
    width: 400px;
    height: 300px;
    border: 4px solid whitesmoke;
    border-radius: 64px;
}

/*----- SECTION 2 -----*/
.sec2 {
    min-height: 540px;
    background-color: #ffffff;
    padding: 16px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    gap: 64px;
    align-items: center;
    justify-content: center;
}
.sec2text {
    display: flex;
    font-weight: bolder;
    color: #1F2937;
    font-size: 42px;
    font-weight: bold;
    justify-content: center;
}

.sec2img {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;

}

.small {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    width: 220px;
    flex-wrap: wrap;
}
.imgtxt{
    text-align: center;
    font-size: 18px;
}
.sec2img img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882F6;
    border-radius: 32px;
}

/*----- SECTION 3 -----*/
.sec3 {
    height: 540px;
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    align-items: center;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    justify-content: center;
    align-items: center;
}
.sec3 div {
    width: 1000px;
}
.sec3 span {
    display: block;
    font-weight: bold;
    text-align: end;
}

.sec3 div,
.sec3 span {
    margin: 16px;
}

/*----- SECTION 4 -----*/
.sec4 {
    height: 420px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box {
    background-color: #3882F6;
    margin: 16px;
    padding: 50px;
    width: 1200px;
    color: whitesmoke;
    border-radius: 15px;
    gap: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#signup-title {
    font-size: 32px;
    font-weight: bold;
}
#signup-text {
    font-size: 16px;
    font-weight: normal;
}

.blue-box button {
    border: 2px solid whitesmoke;
    width: 150px;
    height: 75px;
    margin-top: 0;
}

/*----- FOOTER -----*/
.footer {
    height: 64px;
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}